<footer class="footer">
  <small>
    <%= link_to t("layouts._footer.a_1"), "http://www.railstutorial.org/" %>
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.link_to_1"), about_path %></li>
      <li><%= link_to t("layouts._footer.link_to_2"), contact_path %></li>
      <li><%= link_to t("layouts._footer.link_to_3"), "https://www.railstutorial.org/book/modeling_users" %></li>
    </ul>
  </nav>
</footer>
